{% raw %}
<header>
  <div>
    <a class='lg' href='#results'>&larr; all articles</a>
    <a class='mini' href='#results'>&larr;</a>
    &middot;
    <span id='article_title' title='{{ article.title }}' ng-bind-html='article.title | limitTo: lim'></span>
    {{ article.title.length > lim ? '&hellip;' : ''}}
    <span id='right-header'>
      <a class='pointer' ng-show='previousExists' ng-click='change(-1)' title='more controversial article'>
        &lArr; previous
      </a>
      <span ng-show='previousExists && nextExists'>
        &middot;
      </span>
      <a class='pointer' ng-show='nextExists' ng-click='change(1)' title='less controversial article'>
        next &rArr;
      </a>
    </span>
  </div>
</header>
<main>
<ul class='details'>
  <li>
    <span ng-show='article['byline']' title='byline'>
      {{ article['byline'] }}
    </span>&nbsp;
  </li>
  <li>
    <span ng-show='article['source']' title='source'>
      <i>{{ article['source'] }}</i>
    </span>&nbsp;
  </li>
  <li>
    <span title='publication date'>
      {{ article['published'] | date: 'EEEE, d MMMM yyyy' }}
    </span>
  </li>
</ul>
<article ng-bind-html='highlight(article.full, article.sentences)'></article>
<p>
&copy; {{ article['published'] | date: 'yyyy' }}, {% endraw %} <img width='100px' src='{{ url_for("static", filename="img/NYT.svg") }}' /> {% raw %} 
&mdash; <a target='_blank' href='{{ article.url }}'>article</a>.
</p>
</main>
{% endraw %}
