<header ng-controller='SearchController'>
  <div>
    <form ng-submit='submit()'>
      <a class='pointer' ng-click='clear()'>&larr;</a>
      <input autocomplete='off' type='text' placeholder='keyword' ng-class='{ "top_loading" : $root.is_loading }' ng-model='$root.keyword' ng-model-options='{ debounce: 500 }' />
    </form>
    <span id='right-header'>
      {% raw %}
      <span class='desktop'>Ranked in descending order of controversy</span>
      <span ng-show='trend_available' class='desktop'>&nbsp; &middot; &nbsp;</span>
      <span ng-show='trend_available'><a ng-href="#trends/{{ $root.keyword }}">trend available &rarr;</a></span>
      {% endraw %}
    </span>
  </div>
</header>
<header id='sub' class='mobile'>
  Articles are ranked numerically in order of descending controversy.
</header>

{% raw %}
<main style='padding: 5em 1em'>
<ul id='articles' ng-show='json' ng-style='$root.results_style'>
  <li ng-repeat='article in json'>
  <div class='article' ng-class='{ "most-controversial" : $first, "least-controversial" : $last }'>
    <a href='#results/{{ $index }}' class='title' ng-bind-html='($index+1) + ". " + article.title'></a>
    <img class='ns' ng-show='article.xlarge' ng-src='{{ article.xlarge }}' />
    <p ng-bind-html='article.lead'></p>
    <p class='url'><a href='#results/{{ $index }}'>{{ article.sentiment_entropy}}</a></p>
  </div>
  </li>
</ul>

</main>
{% endraw %}
