<header>
	<div>
		<h1>CONTROVERSY</h1>
		<span id='subtitle' class='desktop'>
      welcome{% if user.Logins > 1 %} back{% endif %}, {{ user.Name|first_name }}
		</span>
		<span id='right-header'>
			{% if user.Id == anon_uname %}
			<a href='/account'>about</a>
      &nbsp; &middot; &nbsp; <a href='/register_anon'>register &rarr;</a>
			{% else %}
			<a href='/account'>account</a>
			&nbsp; &middot; &nbsp;
			<a href='/logout'>logout &rarr;</a>
			{% endif %}
		</span>
	</div>
</header>
<header id='sub'>
  As of 20 October 2020, <em>The New York Times</em> has changed their website to make it very hard to retrieve the full text. Thus, our system may not behave as expected or may be unable to find articles.
  <!-- Uncached queries may take a minute to score -->
</header>
{% raw %}
<main style='padding: 8em 1em'>
<form ng-submit='submit()'>
	<input autocomplete='off' autocorrect='off' type='text' class='field' id='search' placeholder='enter a keyword' ng-model='$root.keyword' />
	<div class='featured_keywords'>
		<dl class='left'>
			<dt>trending</dt>
			<dd><span ng-repeat='trend in trending' class='pointer sans' ng-click='$root.keyword=trend'>{{ trend }}<br></span></dd>
		</dl>
		<dl class='right'>
			<dt>controversial</dt>
			<dd><span title='entropy score of {{ term.EntropyScore }}' ng-repeat='term in controversial' class='pointer sans' ng-click='$root.keyword=term.Term'>{{ term.Term }}<br></span></dd>
		</dl>
	</div>

	<input type='submit' ng-class='{"disabled" : !$root.can_query, "loading" : $root.is_loading}' value='{{ button_value }}' /> 
{% endraw %}
</form>
</main>
