<header ng-controller='SearchController'>
	<div>
		<a href='#results'>&larr; back to results</a>
		<span id='right-header'>
		</span>
	</div>
</header>

{% raw %}
<main ng-controller='TrendController'>
<img ng-src='/api/trend/{{ $root.keyword }}.png' />
</main>
{% endraw %}
