@import 'vars';
%base_ul {
	list-style: none;
	li {
		page-break-inside: avoid;
		@include column-break-inside(avoid);
		break-inside: avoid-column;
	}
}
%base_card {
	background-color: #fff;
	border: 2px solid #efefef;
	font-size: 14px;
	@include border-radius(2px);
}
ul#articles {
	@include column-gap(10px);
	@include column-width(350px);
	@extend %base_ul;
	li {
		width: 100%;
		margin-bottom: 2em;
		div.article {
			@extend %base_card;
			p { padding: 5px; }
			a.title {
				padding: 3px 5px 5px 5px;
				margin-top: 5px;
				margin-bottom: 2px;
				font-size: 28px;
				display: block;
				border-bottom: none;
				&:hover {
					color: #000;
				}
			}
			p.url {
        margin: 0;
        padding: 0;
				border-top: 1px solid #ddd;
				font-style: italic;
				text-align: right;
        background: #eee;
        a {
          padding: 5px 0px;
          width: 100%;
          display: block;
          border-bottom: none;
        }
				a:after {
          padding-right: 5px;
					content: 'read \20\2192'
				}
			}
			img { width: 100%; }
		}
		div.most-controversial {
			//border: 2px solid $mad;
		}
		div.least-controversial {
			//border: 2px solid $happy;
		}
	}
}
ul#tweets {
	@extend %base_ul;
	margin-top: 2em;
	@include column-width(150px);
	@include column-gap(5px);
	li {
		width: 100%;
		margin-bottom: 5px;
		div.tweet {
			@extend %base_card;
			padding: 2px;
			overflow: hidden;
			a {
				color: inherit;
				text-decoration: none;
			}
		}
		div.mad { border: 2px solid $mad; }
		div.happy { border: 2px solid $happy; }
	}
}
