@import 'reset';
@import 'vars';
body {
	font-family: $serif;
	font-variant-numeric: slashed-zero;
	text-rendering: optimizeLegibility;
	font-size: 0.9em;
	word-wrap: break-word;
}
.logo, h1, h2, h3, h4, h5 {
	font-family: $display;
}
.collective_logo {
  padding: 2px;
  font-weight: bold;
}
.collective_logo:hover {
  color: #fff;
  background: #ed0000;
  text-decoration: none;
  border: none;
}
span.q:before {
  content: '\2018';
}
span.q:after {
  content: '\2019';
}
input, .sans {
  font-family: $sans_serif;
}
.logo, h1, h2, h3, h4, h5 {
	font-weight: 700 !important;
}
h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}
h1 {
	font-size: 130%;
}
h2 {
	font-size: 110%;
}
h3 {
	font-size: 90%;
}
h4 {
	font-size: 75%;
}
h5 {
	font-size: 60%;
}
input {
	outline: 0;
	box-shadow: none;
	-webkit-tap-highlight-color: transparent;
}
img {
	max-width: 100%;
	height: auto;
	margin: auto;
}
a {
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: inherit;
	border-bottom: 1px dotted;
	line-height: 130%;
	word-wrap: break-word;
	&:hover, &:active {
		color: #ed0000;
		border-bottom: 1px solid;
		text-decoration: none;
	}
}
input.field {
	padding: 6px 12px;
	color: #555;
	border-bottom: 1px dashed $grey;
	@include border-radius(1px);
	margin: 0 auto;
	margin-bottom: 5px;
	height: 20px;
	width: 70%;
	text-align: center;
}
input[type="submit"], a.btn {
	cursor: pointer;
	min-width: 100px;
	height: 40px;
	color: #333;
	padding: 4px;
	outline: 0;
	border-radius: 0;
	-webkit-appearance: none;

	@include transition(0.15s);

	background-color: #e9e9e9;
	border: 1px solid #c3c3c3;

	&:hover, &:focus, &:active {
		border-color: #a3a3a3;
	}
	&:focus, &:active { outline: 0; }
	&:active {
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	}

  &.small {
    height: auto;
  }
}
a.btn {
  padding: 1px 5px;
  font-size: 0.75em;
  background: #fff;
  border-radius: 2px;
  vertical-align: middle;
}
input::-moz-focus-inner { 
	border: 0;
}
footer {
	margin: 5em 0 0.5em 0;
	width: 95%;
	color: #b0b0b0;
	font-size: 12px;
	text-align: center;
	p {
		padding-top: 10px;
		line-height: 150%;
	}
}
div#message, div#error {
	position: fixed;
  line-height: 1.3;
	font-size: 90%;
	overflow: hidden;
	padding: 3px;
	top: 0;
	background-color: #a3a3a3;
	color: #fff;
	text-align: center;
	width: 100%;
	a { color: #fff; }
}
div#error {
	background-color: $warn;
}
.ns {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
::selection {
  background: #fff49b;
}
::-moz-selection {
  background: #fff49b;
}
@media (min-width: 700px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 700px) {
  .desktop {
    display: none;
  }
}
@media (max-width: 400px) {
	div#error, div#message {
		font-size: smaller;
		opacity: 0.9;
	}
}
