$theme_color: #ed0000;
div.login_alert {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  min-width: 90px;
  max-width: 315px;
  padding: 1em 1.25em;
  background: #fff;
  border: 1px solid #e7e7e5;
  font-size: 0.75rem;
  line-height: 1.5;
  z-index: 2;
  span.close, div.close {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 0.75em;
    line-height: 1;
    //color: #9d9d9d;
    font-size: 1.25rem;
    text-align: center;
  }
  div.body {
    margin-top: 0.5em;
  }
  div.title {
    font-weight: bold;
  }
  &.dangerous {
    color: #fff;
    background: $theme_color;
  }
}
