{% extends 'highlighting_base.html' %}
{% block content %}
<div class='row'>
	<div class='col-md-4'>
		<p class="lead"><b>You've completed this article &hellip; thanks!</b></p>
	</div>
	<div class='col-md-8'>
		<p><a href='https://framagit.org/gdyer/CONTROVERSY'>Learn more about this project</a>.</p>
	</div>
</div>
{% endblock %}
